<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

        <div class="box" style="width:290px;">
            <div class="boxTitle">
                <h2 class="diagram-title">Boolscher Ausdruck</h2>
            </div>
            <div class="boxBody">
                <bool-input bool-domain="boolMain" bool-symbol="F" bool-value=""></bool-input>
            </div>
        </div>

        <div class="box" style="width:290px;">
            <div class="boxTitle">
                <h2 class="diagram-title">Wahrheitstabelle</h2>
            </div>
            <div class="boxBody" id="tableBody">
                <div class="createInfo">
                    <p>Zum Generieren einer Wahrheitstabelle benötigen Sie einen gültigen Ausdruck!</p>
                    <button ng-click="createBTable('#tableBody')">Wahrheitstabelle üben</button>
                </div>
            </div>
        </div>


    </div>
</div>