body {
  font-size: 18px; }

#thLogo {
  width: 80px;
  position:absolute;
  top:5px;
  right:5px;
}

header {
  display: inline-block;
  width: 100%; }

input {
  border: 1px solid #ccc; }

.box {
  position:relative;
  background-color:#F5F5F5;
  border: 1px solid #ccc;
  display:inline-block;
  float:left;
  margin-top:1em;
  margin-bottom:0;
  width:100%;
}
.box .boxTitle {
  background-color:#CEDDE9;
}
.box .boxBody {}

.diagram-title {
  height: 30px;
  padding-top: 8px;
  background-color: #cedde9;
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  color: #505050;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

h1.diagram-title {
  height:auto;
  text-align:left;
  font-size:28px;
  padding: 0.5em 0.2em;
}
.createInfo {
  font-size:12px;
  text-align:center;
  margin:1em;
}
.createInfo p {
  margin: 1em;
  padding: 1em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.box button.btn {
  display:inline-block;
  color: #333;
  border:1px solid transparent;
  font-weight:bold;
  background:transparent;
  padding: 1em 0.6em;
}
.box button.btn:hover {
  border-color: #e0e0e0;
}
.box button.btn:active,
.box button.btn:focus {
  border-color:#0267FF;
}