<div class="boolTable">
    <table>
        <thead>
            <tr>
                <th ng-repeat="th in table.ths" class="{{th.class}}">{{th.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bitLine in table.bits" class="bitLine">
                <td ng-repeat="bit in bitLine.letters" class="bit letters" title="{{bit.bitCounter}} >= {{bit.vTemp}}">{{bit.value}}</td>
                <td ng-repeat="bit in bitLine.specials" class="bit specials"><input maxlength="1" type="text" value="" bit-value="{{bit.value}}" /></td>
                <td ng-repeat="bit in bitLine.groups" class="bit groups"><input maxlength="1" type="text" value="" bit-value="{{bit.value}}" /></td>
                <td ng-repeat="bit in bitLine.clips" class="bit clips"><input maxlength="1" type="text" value="" bit-value="{{bit.value}}" /></td>
                <td class="bit result"><input maxlength="1" type="text" value="" bit-value="{{bitLine.result.value}}" /></td>
            </tr>

        </tbody>
    </table>
</div>