<div ng-class="{boolTable: true, isLoading: table.isLoading}">
    <table>
        <thead>
            <tr>
                <th ng-repeat="th in table.ths" class="{{th.class}}">{{th.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bitLine in table.bits" class="bitLine">
                <td ng-repeat="bit in bitLine.letters" class="bit letters">{{bit.value}}</td>
                <td ng-repeat="bit in bitLine.groups" class="bit groups">
                    <bool-table-select></bool-table-select>
                </td>
                <td class="bit result">
                    <bool-table-select></bool-table-select>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="buttonWrapper text-center">
        <button class="btn" ng-click="checkResult()">Ergebnis prüfen</button>
    </div>
</div>