.boolInput {
    position:relative;
    display:inline-block;
    padding:0.25em;
    border-radius:5px;
    width:100%;
}
.boolInput .group .inputRel {
    width:calc(100% - 32px);
}
.group .input {

}
.boolInput .boolExpr button.groupButton {
    display:block;
}
