<div class="boolKV noselect">
    <div class="debug">
        <table>
            <tbody>
            <tr ng-repeat="row in kv.diagram.field">
                <td ng-repeat="col in row.cols">
                    <span ng-repeat="Var in col.assignedVars">{{Var}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="boolKvBody" id="kvCanvasContainer"></div>
    <div class="boolKvOptions">
        <button class="kvColor kvColorReset active" data-color="reset"></button>
        <button class="kvColor" data-color="#FF9900"></button>
        <button class="kvColor" data-color="#FFFF00"></button>
        <button class="kvColor" data-color="#009E0F"></button>
        <button class="kvColor" data-color="#CF2A27"></button>
        <button class="kvColor" data-color="#2B78E4"></button>
        <button class="kvColor" data-color="#9900FF"></button>
    </div>
    <div class="buttonWrapper text-center">
        <button class="btn" ng-click="checkResult()">Ergebnis prüfen</button>
    </div>
</div>
