.boolKVBlockMin {
    padding: 0.25em;
}
.boolKVBlockMin .colorExprContainer {
    position:relative;
}
.boolKVBlockMin .colorExprContainer .boolKVBlockInput~.notFoundMessage {

}
.boolKnf .boolExpr .input,
.boolDnf .boolExpr .input {
    width: calc(100% - 100px);
}
.boolKnf .boolExpr button.clearText,
.boolDnf .boolExpr button.clearText {
    right: 20px;
}
.boolKVBlockMin .colorExprContainer .boolKVBlockInput:not(:first-child) {
    border-top: 1px solid #ccc;
}